apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
  labels:
    app: {{ .Values.app.name }}
spec:
  replicas: {{ .Values.app.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
    spec:

      initContainers:
        - name: fix-permission
          image: busybox
          command:
            - sh
            - -c
            - |
                chcon -Rt svirt_sandbox_file_t /usr/share/nginx/html || true
                chown -R 1001:1001 /usr/share/nginx/html
                chmod -R 775 /usr/share/nginx/html
          volumeMounts:
            -   name: site-data
                mountPath: /usr/share/nginx/html

      containers:
        - name: nginx
          image: "{{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}"
          imagePullPolicy: {{ .Values.app.image.pullPolicy }}
          ports:
            - containerPort: 80
          volumeMounts:
            - name: site-data
              mountPath: /usr/share/nginx/html
          env:
              - name: WEB_DOCUMENT_ROOT
                value: /usr/share/nginx/html

      volumes:
        - name: site-data
          persistentVolumeClaim:
            claimName: {{ .Values.pvc.name }}